<h2><%= @mechanic.name %></h2>
<p>Years experience: <%= @mechanic.years_experience %></p>
<p>Current rides: </p>
<% @mechanic.rides.thrill_rating_order.each do |ride| %>
  <% if ride.open != false %>
    <%= ride.name %>
    <% end %>
  <% end %>
  <%= form_with url: "/mechanics/#{@mechanic.id}", method: :patch, local: true do |f| %>
  <%= f.label :ride_id, "add a ride to their workload:" %>
    <%= f.text_field :ride_id %>
    <%= f.submit, :submit %>
  <% end %>
